@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Codystar:400,300);


html, body, ul{
	margin:0;
	padding:0;
	font-family: 'Lobster', cursive;
}

header{
	width:100%;
	height:300px;
}

header img{
	height:100%;
	width:100%;
}

nav{
	background-color:grey;
	height:100px;
	width:100%;
}

nav ul{
	height:100%;
	background-color:hotpink;
	text-align:center;


}

nav ul li{
	display:inline-block;
	margin:30px 25px 0;
	font-size:30px;
	text-transform:uppercase;
	font-family:'Poiret One', cursive;
	text-shadow:1px 1px white;
	cursor:pointer;
}

nav ul li:hover{
	color:blue;
}

#about{
	text-align:center;
	padding:50px 0;
}
#about h2{
	font-size:40px;
}

#about .item-container h3{
	font-size:30px;
	font-weight:0;
	font-family: 'Codystar', cursive;
}

#about .item-container{
	width:25%;
	text-align:center;
	padding:25px 0;
	display:inline-block;
}

#about .circle{
	height:150px;
	width:150px;
	background-color:lightpink;
	border-radius:50%;
	text-align:center;
	margin:0 auto;
	border:2px solid lightblue;
}
#about .circle:hover{
	background-color:hotpink;
	height:155px;
	width:155px;
}

#about .circle .icon{
	height:calc(100% - 30px);
	width:calc(100% - 30px);
	padding-top:15px;

}